Package: dataone-cn-version-tool
Version: 2.3.0
Section: utils
Priority: optional
Architecture: all
Depends: openjdk-8-jdk
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that installs a tool for reporting version and build information for components of a dataONE coordinating node installation.
